[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
flask-cors = "*"
mysql-connector-python = "*"
flask-api = "*"

[requires]
python_version = "3.6"
